$button-yellow: #FFFD9A;
$icon-gray: #212229;

.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  &--sunrise {
    &.-size-s {
      width: 38px;
    }
    &.-size-l {
      width: 72px;
    }
  }
  &--sunset {
    &.-size-s {
      width: 32px;
    }
    &.-size-l {
      width: 56px;
    }
  }
}

.light-mode {
  .theme-toggle {
    &--sunrise {
      opacity: 1;
      .white { stroke: white; }
      .yellow { stroke: $button-yellow; }
    }
    &--sunset {
      opacity: 0.3;
      .yellow,
      .white {
        stroke: $icon-gray;
      }
    }
  }
}

.dark-mode {
  .theme-toggle {
    &--sunset {
      opacity: 1;
      .white { stroke: white; }
      .yellow { stroke: $button-yellow; }
    }
    &--sunrise {
      opacity: 0.3;
      .yellow,
      .white {
        stroke: $icon-gray;
      }
    }
  }
}