// Light Mode
$bg: #ffffff;
$primary-text: #000000;
$secondary-text: #888;
$block-bg: #f0f0f0;
$about-bg: rgba(240, 240, 240, .5);
$link-text: rgba(0, 0, 0, 0.4);
$footer-text: rgba(0, 0, 0, 0.4);
$button-yellow: #FFFD9A;
$icon-gray: #212229;
$skill-border-color: rgba(0, 0, 0, 0.05);

// Dark Mode
$dark-bg: #000000;
$dark-primary-text: #ffffff;
$dark-secondary-text: rgba(255, 255, 255, .75);
$dark-about-bg: rgba(75, 75, 75, .5);
$dark-block-bg: #2f2f2f;
$dark-link-text: rgba(240, 240, 240, 0.4);
$dark-footer-text: rgba(240, 240, 240, 0.4);
$dark-skill-border-color: rgba(255, 255, 255, 0.1);

// Gradients
$gradient-sunrise: linear-gradient(-120deg, #f6d365 0%, #fda085 100%);
$gradient-sunset: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
