@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/grid';
@import 'partials/nav';

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background: $bg;
  color: $primary-text;
  > div {
    position: relative;
    overflow-x: hidden;
  }
}

figcaption, figure, footer, header, main, nav {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:active, &:hover {
    outline-width: 0;
  }
}

img {
  border-style: none;
  max-width: 100%;
}

p, figure, img {
  padding: 0;
  margin: 0 0 1.45rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;

  li {
    margin: 0 1.75rem 0 0;
  }
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 85rem;
  width: 100%;
}

.content {
  padding: 1rem 0;
}

.introduction {
  opacity: 0;
  animation: intro 1s cubic-bezier(0.23,1,0.32,1) forwards;
}

#hero {
  height: 100vh;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#work {
  margin: 0 0 3rem 0;
  padding: 0 0 2rem 0;
  p {
    color: $secondary-text;
  }
}

#about {
  margin: 2rem 0 0;
  h2 {
    margin: 1.5rem 0 2rem 0;
  }
  h3 {
    margin: 1.5rem 0 1.5rem 0;
  }
  p {
    color: $secondary-text;
  }
  .skillbar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    display: block;
    overflow: hidden;
    height: 40px;
    background-color: #eeeeee;
    border-radius: 50px;
    .title {
      padding: 5px 20px;
      position: absolute;
      top: 0;
      z-index: 9;
      height: 40px;
      text-align: center;
      left: 0;
      color: $secondary-text;
    }
    .filled {
      background-image: $gradient-cool;
      z-index: 8;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 20px;
    }
    &:nth-child(4n + 3) {
      .filled {
        background-image: $gradient-warm;
      }
    }
    &:nth-child(4n + 4) {
      .filled {
        background-image: $gradient-leaf;
      }
    }
    &:nth-child(4n + 5) {
      .filled {
        background-image: $gradient-mystic;
      }
    }
  }
}

figure {
  padding: 1.125rem;
  &:hover {
    .cover-art {
      box-shadow: rgba(46, 41, 51, 0.08) 0 10px 14px, rgba(71, 63, 79, 0.08) 0 12px 14px;
      transform: translate3d(0, -4px, 0);
    }
  }
  .cover-art {
    transform: translate3d(0, 0, 0);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  figcaption {
    p {
      margin: 0 0 3rem 0;
      color: $secondary-text;
    }
  }
}

.alpha {
  position: absolute;
  z-index: -1;
  display: block;
  top: -5vh;
  left: 40vw;
  width: 85vw;
  height: 85vw;
  border-radius: 50%;
  opacity: 0.5;
  background-image: $gradient-cool;
}

.beta {
  position: absolute;
  width: 50vw;
  height: 50vw;
  opacity: 0.5;
  background-image: $gradient-warm;
  border-radius: 12px;
  z-index: -1;
  top: 10vh;
  left: 0;
}

footer {
  padding: 1rem 0;
  text-align: center !important;
}

.social {
  margin-bottom: 1.25rem;

  li {
    display: inline-block;
    margin: 0 1.75rem 0 0;
  }
}

.link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  &::before {
    @include pseudo();
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background: transparent;
    visibility: visible;
    transform: translateX(0);
  }
  &::after {
    @include pseudo();
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background-image: $gradient-mystic;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  &:hover {
    color: #000;
    &::after {
      visibility: visible;
      transform: translateX(0);
    }
  }
}


@media (min-width: 62rem) {
  body {
    font-size: 1.25rem;
  }

  nav {
    padding: 2rem 0;
  }

  h1 {
    font-size: 3.75rem;
    max-width: 100%;
    width: 68rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  #hero {
    height: 90vh;
  }

  #about {
    h2 {
      margin: 1.5rem 0 2.5rem 0;
    }
    h3 {
      margin: 0 0 1.5rem 0;
    }
  }

  .alpha {
    top: -14vh;
    left: 62vw;
    width: 40vw;
    height: 40vw;
  }

  .beta {
    top: 0;
    left: 0;
    width: 40vw;
    height: 40vw;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





